.App {
  text-align: center;
}

.App-header {
  background-color: rgb(105, 155, 105);
  text-align: left;
  color: white;
  padding-left:25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  align-items: center;
  border-style: solid;
  padding: 20px;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.light-border {
  border-style: solid;
  border-width: thin;
  padding: 20px;
  padding-top: 10px;
}

.submit-button {
  margin-top:10px;
}

.add-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add-item-title {
  padding-right: 20px;
}

.add-button {
  padding-left: 20px;
}

.space-right {
  margin-right: 10px;
}

.form-line {
  margin-top:10px;
  margin-bottom:10px;
}

.column-flex-direction {
  flex-direction: column;
  align-items: flex-start;
}

.line-item {
  display: flex;
  justify-content: space-around;
  padding:10px;
  border: solid;
  border-width: thin;
}

.line-item-header {
  font-weight: bold;
}

.clickable {
  cursor: pointer;
}