.App {
  text-align: center;
}

.App-header {
  background-color: rgb(105, 155, 105);
  text-align: left;
  color: white;
  padding-left:25px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


